@tailwind base;
@tailwind components;
@tailwind utilities;

.headshot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.headshot img{
    width: 25rem;
}

@media only screen and (max-width: 769px){
    .headshot img{
        width: 67%;
    }

}