@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.gallery .travel_gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.gallery .travel_gallery .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gallery .travel_gallery .column img{
    transition: 300ms;
    width: 100%;
    object-position: 50% 50%; 
    padding-bottom: 10px;
    border-radius: 2px;
}
.gallery .travel_gallery .column img:hover{
    opacity: 50%;
}



.gallery .twoColumn_gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.gallery .twoColumn_gallery .column{
    display:flex;
    flex-direction: column;
    width: 49%;
}

.gallery .travelButton{
    display: block;
    margin: auto;
    border: none;
    background-color: cornflowerblue;
    color: lightyellow;
    margin-bottom: 15px;
    border-radius: 2px;
    width: 150px;
    height: 35px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.view-image{
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .9);

}
.view-image img{
    max-height:80%;
    max-width:80%;
    border-radius: 2px;
    overflow: hidden;
}
.view-image div{
    position: absolute;
    /* bottom:1.5%; */
    color: white;
    font-size: 14px;
}


.view-image span{
    color:white;
    font-size: 1.51rem;
    position: absolute;
    /* top: 3%;
    right: 15%; */
    cursor: pointer;
}

@media only screen and (max-width: 769px){
    .gallery .travel_gallery {
        flex-direction: column;
        /* height: 100rem;
         width: 40rem; */
    }
    
    .gallery .travel_gallery .column{
        width: 100%;
    }
    
    .gallery .travel_gallery .column img{
        width: 100%;
        padding-bottom: 10px;
        border-radius: 2px;
    }

    .gallery .twoColumn_gallery {
        flex-direction: column;
        /* height: 100rem;
         width: 40rem; */
    }
    
    .gallery .twoColumn_gallery .column{
        width: 100%;
    }

    .gallery .twoColumn_gallery .column img {
    display: none;
    }
    .view-image span{
        color:white;
        font-size: .9rem;
        position:absolute;
        /* top: 1%;
        right: 5%; */
        cursor: pointer;
    }
}